<!DOCTYPE html>
<html>
    <head>
        <title>
            Политика пользования | Физмат-калькулятор - научный калькулятор для школы по физике и математике
        </title>
        <link rel="stylesheet" href="{{ url_for('static', path='css/solver.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='css/aboutus.css') }}">
        <link rel="icon" type="image/x-icon" href="/static/images/school_physmath_solver_favicon.png">
    </head>
    <body>
        <header>
            <div class="solver-header-background">
                <div class="solver-header-menu">
                    <p class="solver-header-text">
                        Физмат-калькулятор
                    </p>
                    <p class="solver-header-text">
                        Все расчеты верны
                    </p>
                </div>
            </div>
        </header>
        <main>
            <div class="solver-main-background">
                <p class="aboutus-title">
                    Наша история
                </p>
                <div class="aboutus-card">
                    <p class="aboutus-text">
                        История проекта «Физмат-калькулятор» началась, как идея о сайте, где можно вычислять значения из школьных формул для автоматизации образования и повышения производительности на уроках за счет более быстрого решения задач.
                        Такой сайт смог бы сэкономить время ученикам и учителям и избавить от проблемы отсутствия и ограниченности в использовании аналогового калькулятора, и на этой почве и началась разработка.
                    </p>
                    <p class="aboutus-text">
                        17 апреля 2026 года в МБОУ «Гимназия имени С. В. Ковалевской», на дне Науки и творчества, был показан прототип Физмат-калькулятора.
                        В этот день был продемонстрирован самый первый прототип проекта «Физмат-калькулятор», который умел вычислять значения из формул и так же сообщать пользователю о некорректном вводе, например, деление на ноль.
                    </p>
                    <p class="aboutus-text">
                        Проект был оценён высоко и поэтому попал в список муниципальной конференции по защите проектов.
                        Через 13 дней конференция состоялась и прототип калькулятора занял 2 место, после чего калькулятор было решено полностью обновить и переписать с нуля.
                    </p>
                    <p class="aboutus-text">
                        После тотального обновления проекта «Физмат-калькулятор» вышел в свет 30 сентября 2026 года.
                        Теперь наш проект оформлен гораздо лучше предыдущих прототипов в плане дизайна и пользования.
                    </p>
                </div>
                <p class="aboutus-title">
                    Преимущества проекта
                </p>
                <div class="aboutus-card">
                    <p class="aboutus-text">
                        «Физмат-калькулятор» - это отказоустойчивый научный калькулятор по физике и математике, созданный для быстрых и точных вычислений школьных формул для эффективного решения задач на уроках.
                    </p>
                    <p class="aboutus-text">
                        На фоне обычного калькулятора он побеждает в плане использования и толерантности к ошибкам.
                        Наш калькулятор может принимать много чисел одновременно, умеет отбрасывать лишние символы и не падает от деления на ноль, а так же его невозможно физически потерять или не иметь при себе.
                        Он доступен в любое время без какой-либо регистрации или денежных транзакций (Подробнее смотреть в Политике пользования).
                        Аналоговый же калькулятор можно легко забыть, сломать или вообще не иметь под рукой, а так же он не сможет принять больше 2 чисел и выполняет простейшие операции.
                    </p>
                    <p class="aboutus-text">
                        «Физмат-калькулятор» знает часто встречающиеся школьные формулы из задач.
                        Он может легко посчитать площадь треугольника через синус угла между сторонами за пару действий и ради этого Вам не придётся искать калькулятор.
                        Наш сайт пишет результат вычислений или отчет о некорректном вводе на отдельной странице, что делает разбор задач проще и эффективнее для учителя, а ученику это помогает осваивать новый материал в интерактивной форме.
                        По сравнению с нейросетями, которые просто дают готовое решение, калькулятор работает быстрее и его не стыдно показать на телевизоре перед всем классом.
                    </p>
                </div>
            </div>
        </main>
        <footer>
            <div class="solver-footer-background">
                <div class="solver-footer-menu">
                    <div class="solver-footer-card">
                        <p class="solver-footer-card-title">
                            Навигация
                        </p>
                        <a class="solver-footer-redirect-button" href="/">
                            Главная
                        </a>
                        <a class="solver-footer-redirect-button" href="/physics">
                            Физика
                        </a>
                        <a class="solver-footer-redirect-button" href="/math">
                            Математика
                        </a>
                        <a class="solver-footer-redirect-button" href="/math/algebra">
                            Алгебра
                        </a>
                        <a class="solver-footer-redirect-button" href="/math/geometry">
                            Геометрия
                        </a>
                        <a class="solver-footer-redirect-button" href="/physics/electromagnetics">
                            Электромагнетизм
                        </a>
                        <a class="solver-footer-redirect-button" href="/physics/mechanics">
                            Механика
                        </a>
                        <a class="solver-footer-redirect-button" href="/physics/thermodynamics">
                            Термодинамика
                        </a>
                    </div>
                    <div class="solver-footer-card">
                        <p class="solver-footer-card-title">
                            Поддержка
                        </p>
                        <a class="solver-footer-redirect-button" href="/usagepolicy">
                            Политика пользования
                        </a>
                        <a class="solver-footer-redirect-button" href="/faq">
                            Помощь в использовании
                        </a>
                        <a class="solver-footer-redirect-button" href="/extrainfo">
                            Дополнительная информация
                        </a>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
