<!DOCTYPE html>
<html>
    <head>
        <title>
            Помощь в использовании | Физмат-калькулятор - научный калькулятор для школы по физике и математике
        </title>
        <link rel="stylesheet" href="{{ url_for('static', path='css/solver.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='css/aboutus.css') }}">
        <link rel="icon" type="image/x-icon" href="/static/images/school_physmath_solver_favicon.png">
    </head>
    <body>
        <header>
            <div class="solver-header-background">
                <div class="solver-header-menu">
                    <p class="solver-header-text">
                        Физмат-калькулятор
                    </p>
                    <p class="solver-header-text">
                        Все расчеты верны
                    </p>
                </div>
            </div>
        </header>
        <main>
            <div class="solver-main-background">
                <p class="aboutus-title">
                    Помощь в использовании
                </p>
                <div class="aboutus-card">
                    <p class="aboutus-text">
                        Как найти нужную страницу на сайте Физмат-калькулятора?
                    </p>
                    <p class="aboutus-text">
                        Чтобы найти нужный Вам предмет или тему, выберите его на главной странице.
                        Далее Вам нужно нажать на его раздел и Вы увидите задачи на конкретные темы.
                        Нажимайте на тему и Вы увидите конкретные формулы по данной теме.
                        Так же внизу сайта есть навигация, которая в один клик перенесёт Вас на нужный Вам предмет или его подраздел.
                    </p>
                </div>
                <div class="aboutus-card">
                    <p class="aboutus-text">
                        Что делать, если нужной формулы не нашлось на сайте?
                    </p>
                    <p class="aboutus-text">
                        Вы можете обратиться к нам и мы добавим новую формулу на определённую тему в конкретную страницу.
                        Так же у Вас есть вариант воспользоваться другими источниками информации: учебниками или сторонними сайтами про физику и математику.
                        Помните про соблюдение правил безопасности в Интернете: не делитесь личными данными и не соглашайтесь на сомнительные действия.
                    </p>
                </div>
            </div>
        </main>
        <footer>
            <div class="solver-footer-background">
                <div class="solver-footer-menu">
                    <div class="solver-footer-card">
                        <p class="solver-footer-card-title">
                            Навигация
                        </p>
                        <a class="solver-footer-redirect-button" href="/">
                            Главная
                        </a>
                        <a class="solver-footer-redirect-button" href="/physics">
                            Физика
                        </a>
                        <a class="solver-footer-redirect-button" href="/math">
                            Математика
                        </a>
                        <a class="solver-footer-redirect-button" href="/math/algebra">
                            Алгебра
                        </a>
                        <a class="solver-footer-redirect-button" href="/math/geometry">
                            Геометрия
                        </a>
                        <a class="solver-footer-redirect-button" href="/physics/electromagnetics">
                            Электромагнетизм
                        </a>
                        <a class="solver-footer-redirect-button" href="/physics/mechanics">
                            Механика
                        </a>
                        <a class="solver-footer-redirect-button" href="/physics/thermodynamics">
                            Термодинамика
                        </a>
                    </div>
                    <div class="solver-footer-card">
                        <p class="solver-footer-card-title">
                            Поддержка
                        </p>
                        <a class="solver-footer-redirect-button" href="/usagepolicy">
                            Политика пользования
                        </a>
                        <a class="solver-footer-redirect-button" href="/faq">
                            Помощь в использовании
                        </a>
                        <a class="solver-footer-redirect-button" href="/extrainfo">
                            Дополнительная информация
                        </a>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
