<!DOCTYPE html>
<html>
    <head>
        <title>
            Помощь в использовании | Физмат-калькулятор - научный калькулятор для школы по физике и математике
        </title>
        <link rel="stylesheet" href="{{ url_for('static', path='css/solver.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='css/aboutus.css') }}">
        <link rel="icon" type="image/x-icon" href="/static/images/school_physmath_solver_favicon.png">
    </head>
    <body>
        <header>
            <div class="solver-header-background">
                <div id="solver-header" class="solver-header-menu">
                    
                </div>
            </div>
        </header>
        <main>
            <div class="solver-main-background">
                <p class="aboutus-title">
                    Помощь в использовании
                </p>
                <div class="aboutus-card">
                    <p class="aboutus-text">
                        Как найти страницу, где Физмат-калькулятор посчитал ответ?
                    </p>
                    <p class="aboutus-text">
                        «Физмат-калькулятор» записывает всё, что он посчитал, в отдельную страницу «Журнал».
                        Перейдите туда через верхнее меню или внизу сайта в разделе «Навигация».
                        Там находятся все ваши расчёты, которые хранятся строго до закрытия сайта.
                    </p>
                </div>
                <div class="aboutus-card">
                    <p class="aboutus-text">
                        Как найти нужную страницу на сайте Физмат-калькулятора?
                    </p>
                    <p class="aboutus-text">
                        Чтобы найти нужный Вам предмет или тему, выберите его на главной странице.
                        Далее Вам нужно нажать на его раздел и Вы увидите задачи на конкретные темы.
                        Нажимайте на тему и Вы увидите конкретные формулы по данной теме.
                        Так же внизу сайта есть навигация, которая в один клик перенесёт Вас на нужный Вам предмет или его подраздел.
                    </p>
                </div>
                <div class="aboutus-card">
                    <p class="aboutus-text">
                        Что делать, если нужной формулы не нашлось на сайте?
                    </p>
                    <p class="aboutus-text">
                        Вы можете обратиться к нам и мы добавим новую формулу на определённую тему в конкретную страницу.
                        Так же у Вас есть вариант воспользоваться другими источниками информации: учебниками или сторонними сайтами про физику и математику.
                        Помните про соблюдение правил безопасности в Интернете: не делитесь личными данными и не соглашайтесь на сомнительные действия.
                    </p>
                </div>
            </div>
        </main>
        <footer>
            <div class="solver-footer-background">
                <div id="solver-footer" class="solver-footer-menu">
                    
                </div>
            </div>
        </footer>
        <script src="/static/js/pagesetup.js" type="module"></script>
    </body>
</html>
