<!DOCTYPE html>
<html>
    <head>
        <title>
            Политика пользования | Физмат-калькулятор - научный калькулятор для школы по физике и математике
        </title>
        <link rel="stylesheet" href="{{ url_for('static', path='css/solver.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='css/aboutus.css') }}">
        <link rel="icon" type="image/x-icon" href="/static/images/school_physmath_solver_favicon.png">
    </head>
    <body>
        <header>
           <div class="solver-header-background">
                <div id="solver-header" class="solver-header-menu">
                    
                </div>
            </div>
        </header>
        <main>
            <div class="solver-main-background">
                <p class="aboutus-title">
                    Политика пользования
                </p>
                <div class="aboutus-card">
                    <p class="aboutus-text">
                        МЫ НЕ СОБИРАЕМ НИКАКИХ ПОЛЬЗОВАТЕЛЬСКИХ ДАННЫХ ИЛИ ДЕНЕЖНЫХ СРЕДСТВ НИ В КАКОМ ВИДЕ.
                        «Физмат-калькулятор» не требует регистрации или оплаты услуг, не собирает и не хранит куки или персональные данные.
                    </p>
                    <p class="aboutus-text">
                        Пользователь вводит в сайт только числа для расчетов, необходимых для решения школьных задач.
                        «Физмат-калькулятор» обрабатывает исключительно введеные пользователем цифры.
                    </p>
                    <p class="aboutus-text">
                        Данный сайт является полностью анонимным для использования и создан исключительно в образовательных целях.
                        Это значит, что сайт не знает и не собирает ничего о пользователе и помогает ему быстро считать на уроках.
                    </p>
                </div>
            </div>
        </main>
        <footer>
            <div class="solver-footer-background">
                <div id="solver-footer" class="solver-footer-menu">
                    
                </div>
            </div>
        </footer>
        <script src="/static/js/pagesetup.js" type="module"></script>
    </body>
</html>
