<!DOCTYPE html>
<html>
    <head>
        <title>
            Политика пользования | Физмат-калькулятор - научный калькулятор для школы по физике и математике
        </title>
        <link rel="stylesheet" href="{{ url_for('static', path='css/solver.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='css/aboutus.css') }}">
        <link rel="icon" type="image/x-icon" href="/static/images/school_physmath_solver_favicon.png">
    </head>
    <body>
        <header>
            <div class="solver-header-background">
                <div class="solver-header-menu">
                    <p class="solver-header-text">
                        Физмат-калькулятор
                    </p>
                    <p class="solver-header-text">
                        Все расчеты верны
                    </p>
                </div>
            </div>
        </header>
        <main>
            <div class="solver-main-background">
                <p class="aboutus-title">
                    Политика пользования
                </p>
                <div class="aboutus-card">
                    <p class="aboutus-text">
                        МЫ НЕ СОБИРАЕМ НИКАКИХ ПОЛЬЗОВАТЕЛЬСКИХ ДАННЫХ ИЛИ ДЕНЕЖНЫХ СРЕДСТВ НИ В КАКОМ ВИДЕ.
                        «Физмат-калькулятор» не требует регистрации или оплаты услуг, не собирает и не хранит куки или персональные данные.
                    </p>
                    <p class="aboutus-text">
                        Пользователь вводит в сайт только числа для расчетов, необходимых для решения школьных задач.
                        «Физмат-калькулятор» обрабатывает исключительно введеные пользователем цифры.
                    </p>
                    <p class="aboutus-text">
                        Данный сайт является полностью анонимным для использования и создан исключительно в образовательных целях.
                        Это значит, что сайт не знает и не собирает ничего о пользователе и помогает ему быстро считать на уроках.
                    </p>
                </div>
            </div>
        </main>
        <footer>
            <div class="solver-footer-background">
                <div class="solver-footer-menu">
                    <div class="solver-footer-card">
                        <p class="solver-footer-card-title">
                            Навигация
                        </p>
                        <a class="solver-footer-redirect-button" href="/">
                            Главная
                        </a>
                        <a class="solver-footer-redirect-button" href="/physics">
                            Физика
                        </a>
                        <a class="solver-footer-redirect-button" href="/math">
                            Математика
                        </a>
                        <a class="solver-footer-redirect-button" href="/math/algebra">
                            Алгебра
                        </a>
                        <a class="solver-footer-redirect-button" href="/math/geometry">
                            Геометрия
                        </a>
                        <a class="solver-footer-redirect-button" href="/physics/electromagnetics">
                            Электромагнетизм
                        </a>
                        <a class="solver-footer-redirect-button" href="/physics/mechanics">
                            Механика
                        </a>
                        <a class="solver-footer-redirect-button" href="/physics/thermodynamics">
                            Термодинамика
                        </a>
                    </div>
                    <div class="solver-footer-card">
                        <p class="solver-footer-card-title">
                            Поддержка
                        </p>
                        <a class="solver-footer-redirect-button" href="/usagepolicy">
                            Политика пользования
                        </a>
                        <a class="solver-footer-redirect-button" href="/faq">
                            Помощь в использовании
                        </a>
                        <a class="solver-footer-redirect-button" href="/extrainfo">
                            Дополнительная информация
                        </a>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
