/* Background */

.solver-header-background {
    background-color: white;
    border-top: 4px solid lightgray;
    border-bottom: 4px solid lightgray;
}

.solver-main-background {
    border-left: 4px dashed black;
    border-right: 4px dashed black;
}

.solver-footer-background {
    background-color: lightgray;
    border-top: 4px solid gray;
    border-bottom: 4px solid gray;
}

.solver-physmath-background {
    background-image: url("/static/images/school_physmath_solver_logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    background-attachment: fixed;
}

.solver-math-background {
    background-image: url("/static/images/math_background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    background-attachment: fixed;  
}

.solver-physics-background {
    background-image: url("/static/images/physics_background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    background-attachment: fixed;  
}


/* Text */

.solver-title {
    color: black;
    font-size: 32px;
    font-family: 'Franklin Gothic Medium';
    text-align: center;
}

.solver-main-text {
    color: black;
    font-size: 32px;
    font-family: 'Franklin Gothic Medium';
    text-align: left;
    margin: 4% 4%;
}

.solver-footer-text {
    color: gray;
    font-family: 'Franklin Gothic Medium';
    font-size: 32px;
    text-align: center;
    margin: 4% 4%;
}


/* Menu */

.solver-header-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.solver-header-text {
    font: bold 32px 'Franklin Gothic Medium';
    color: black;
    text-align: center;
}

.solver-footer-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.solver-footer-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.solver-footer-card-title {
    font: bold 32px 'Franklin Gothic Medium';
    color: gray;
}

.solver-footer-redirect-button {
    font: bold 24px 'Franklin Gothic Medium';
    color: gray;
    text-decoration: none;
    margin: 8px;
}
