<!DOCTYPE html>
<html>
    <head>
        <title>
            Кинематика | Физмат-калькулятор - научный калькулятор для школы по физике и математике
        </title>
        <link rel="stylesheet" href="{{ url_for('static', path='css/solver.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='css/formulas.css') }}">
        <link rel="icon" type="image/x-icon" href="/static/images/school_physmath_solver_favicon.png">
    </head>
    <body class="solver-physmath-background">
        <header>
            <div class="solver-header-background">
                <div class="solver-header-menu">
                    <p id="solver-title" class="solver-header-text">
                        
                    </p>
                    <p id="solver-slogan" class="solver-header-text">
                        
                    </p>
                </div>
            </div>
        </header>
        <main>
            <div class="formula-header">
                <p class="formula-title">
                    Ускорение
                </p>
            </div>
            <div class="formulas-grid">
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Ускорение тела через второй закон Ньютона
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>a</mi>
                                <mo>=</mo>
                                <mfrac>
                                    <mi>F</mi>
                                    <mi>m</mi>
                                </mfrac>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Равнодействующая сила">
                        <input class="formula-input" type="text" placeholder="Масса тела">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Линейное ускорение тела через скорость и время
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>a</mi>
                                <mo>=</mo>
                                <mfrac>
                                    <mrow>
                                        <mi>Δ</mi>
                                        <mi>v</mi>
                                    </mrow>
                                    <mrow>
                                        <mi>Δ</mi>
                                        <mi>t</mi>
                                    </mrow>
                                </mfrac>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Изменение скорости">
                        <input class="formula-input" type="text" placeholder="Изменение времени">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Центростремительное ускорение через линейную скорость
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>a</mi>
                                <mo>=</mo>
                                <mfrac>
                                    <msup>
                                        <mi>v</mi>
                                        <mn>2</mn>
                                    </msup>
                                    <mi>R</mi>
                                </mfrac>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Линейная скорость">
                        <input class="formula-input" type="text" placeholder="Радиус траектории">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Центростремительное ускорение через угловую скорость
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>a</mi>
                                <mo>=</mo>
                                <msup>
                                    <mi>ω</mi>
                                    <mn>2</mn>
                                </msup>
                                <mi>R</mi>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Угловая скорость">
                        <input class="formula-input" type="text" placeholder="Радиус траектории">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Центростремительное ускорение через линейную и ангулярную скорости
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>a</mi>
                                <mo>=</mo>
                                <mi>v</mi>
                                <mi>ω</mi>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Линейная скорость">
                        <input class="formula-input" type="text" placeholder="Угловая скорость">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Ускорение свободного падения через гидростатическое давление
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>g</mi>
                                <mo>=</mo>
                                <mfrac>
                                    <mi>p</mi>
                                    <mrow>
                                        <mi>ρ</mi>
                                        <mi>h</mi>
                                    </mrow>
                                </mfrac>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Линейная скорость">
                        <input class="formula-input" type="text" placeholder="Угловая скорость">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Ускорение свободного падения через силу Архимеда
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>g</mi>
                                <mo>=</mo>
                                <mfrac>
                                    <msub>
                                        <mi>F</mi>
                                        <mi>a</mi>
                                    </msub>
                                    <mrow>
                                        <mi>ρ</mi>
                                        <mi>V</mi>
                                    </mrow>
                                </mfrac>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Сила Архимеда">
                        <input class="formula-input" type="text" placeholder="Плотность жидкости или газа">
                        <input class="formula-input" type="text" placeholder="Объем погруженной части тела">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
            </div>
            <div class="formula-header">
                <p class="formula-title">
                    Расстояние
                </p>
            </div>
            <div class="formulas-grid">
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Расстояние через скорость и время
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>S</mi>
                                <mo>=</mo>
                                <mi>v</mi>
                                <mi>t</mi>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Скорость тела">
                        <input class="formula-input" type="text" placeholder="Пройденное время">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
            </div>
            <div class="formula-header">
                <p class="formula-title">
                    Время
                </p>
            </div>
            <div class="formulas-grid">
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Время через расстояние и скорость
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>t</mi>
                                <mo>=</mo>
                                <mfrac>
                                    <mi>S</mi>
                                    <mi>v</mi>
                                </mfrac>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Равнодействующая сила">
                        <input class="formula-input" type="text" placeholder="Масса тела">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Изменение времени через ускорение тела
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>Δt</mi>
                                <mo>=</mo>
                                <mfrac>
                                    <mi>Δv</mi>
                                    <mi>a</mi>
                                </mfrac>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Изменение скорости">
                        <input class="formula-input" type="text" placeholder="Ускорение тела">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
            </div>
            <div class="formula-header">
                <p class="formula-title">
                    Скорость
                </p>
            </div>
            <div class="formulas-grid">
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Скорость тела через расстояние и время
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>v</mi>
                                <mo>=</mo>
                                <mfrac>
                                    <mi>S</mi>
                                    <mi>t</mi>
                                </mfrac>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Пройденное расстояние">
                        <input class="formula-input" type="text" placeholder="Пройденное время">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Линейная скорость через угловую скорость
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>v</mi>
                                <mo>=</mo>
                                <mi>ω</mi>
                                <mi>R</mi>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Угловая скорость">
                        <input class="formula-input" type="text" placeholder="Радиус траектории">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Линейная скорость через центростремительное ускорение
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>v</mi>
                                <mo>=</mo>
                                <mfrac>
                                    <mi>a</mi>
                                    <mi>ω</mi>
                                </mfrac>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Центростремительное ускорение">
                        <input class="formula-input" type="text" placeholder="Угловая скорость">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Угловая скорость через линейную скорость
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>ω</mi>
                                <mo>=</mo>
                                <mfrac>
                                    <mi>v</mi>
                                    <mi>R</mi>
                                </mfrac>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Линейная скорость">
                        <input class="formula-input" type="text" placeholder="Радиус траектории">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Угловая скорость через центростремительное ускорение
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>ω</mi>
                                <mo>=</mo>
                                <mfrac>
                                    <mi>a</mi>
                                    <mi>v</mi>
                                </mfrac>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Центростремительное ускорение">
                        <input class="formula-input" type="text" placeholder="Линейная скорость">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Изменение скорости через ускорение
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>Δv</mi>
                                <mo>=</mo>
                                <mfrac>
                                    <mi>Δt</mi>
                                    <mi>a</mi>
                                </mfrac>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Изменение времени">
                        <input class="formula-input" type="text" placeholder="Ускорение тела">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="solver-footer-background">
                <div id="solver-footer" class="solver-footer-menu">
                    
                </div>
            </div>
        </footer>
        <script src="/static/js/pagesetup.js" type="module"></script>
    </body>
</html>
