<!DOCTYPE html>
<html>
    <head>
        <title>
            Алгебра | Физмат-калькулятор - научный калькулятор для школы по физике и математике
        </title>
        <link rel="stylesheet" href="{{ url_for('static', path='css/solver.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='css/subjects.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='css/tasks.css') }}">
    </head>
    <body>
        <header>
            <div class="solver-header-background">
                <div class="solver-inline-menu">
                    <a href="/aboutus" class="solver-inline-menu-button">
                        О нас
                    </a>
                    <a href="/math" class="solver-inline-menu-button">
                        Математика
                    </a>
                    <a href="/faq" class="solver-inline-menu-button">
                        Помощь 
                    </a>                 
                </div>
            </div>
        </header>
        <main>
            <div class="solver-classic-background">
                <p class="solver-title">
                    Алгебра
                </p>
                <p class="solver-main-text">
                    Ниже представлено то, что Физмат-калькулятор может посчитать.
                    Выберите нужный тип задачи и перейдите по нему.
                    Вы увидите поля ввода чисел в формулу.
                    После отправки чисел Вы получите точный ответ или сообщение о неккоректном вводе.
                    Физмат-калькулятор желает Вам удачи!
                </p>
            </div>
            <div class="solver-classic-background">
                <div class="tasks-grid">
                    <div class="tasks-card">
                        <a href="algebra/coefficient" class="task-redirect-button">
                            Задачи на поиск коэффициента (векторы)
                        </a>
                    </div>
                    <div class="tasks-card">
                        <a href="algebra/coordinate" class="task-redirect-button">
                            Задачи на поиск координаты (векторы)
                        </a>
                    </div>
                    <div class="tasks-card">
                        <a href="algebra/magnitude" class="task-redirect-button">
                            Задачи на поиск магнитуды (векторы)
                        </a>
                    </div>
                    <div class="tasks-card">
                        <a href="algebra/mean" class="task-redirect-button">
                            Задачи на поиск среднего значения (прогрессии)
                        </a>
                    </div>
                    <div class="tasks-card">
                        <a href="algebra/product" class="task-redirect-button">
                            Задачи на поиск произведения (векторы)
                        </a>
                    </div>
                    <div class="tasks-card">
                        <a href="algebra/sum" class="task-redirect-button">
                            Задачи на поиск суммы (прогрессии)
                        </a>
                    </div>
                    <div class="tasks-card">
                        <a href="algebra/term" class="task-redirect-button">
                            Задачи на поиск n члена (прогрессии)
                        </a>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="solver-footer-background">
                <p class="solver-footer-text">
                    Вы можете найти информацию про «Физмат-калькулятор» на странице «О нас».
                    Если же Вам требуется подсказка для использования сайта - переходите на страницу «Помощь».
                </p>
                <p class="solver-footer-text">
                    «Физмат-калькулятор». Все расчеты верны.
                </p>
            </div>
        </footer>
    </body>
</html>
