<!DOCTYPE html>
<html>
    <head>
        <title>
            Геометрия | Физмат-калькулятор - научный калькулятор для школы по физике и математике
        </title>
        <link rel="stylesheet" href="{{ url_for('static', path='css/solver.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='css/subjects.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='css/tasks.css') }}">
    </head>
    <body>
        <header>
            <div class="solver-header-background">
                <div class="solver-inline-menu">
                    <a href="/aboutus" class="solver-inline-menu-button">
                        О нас
                    </a>
                    <a href="/math" class="solver-inline-menu-button">
                        Математика
                    </a>
                    <a href="/faq" class="solver-inline-menu-button">
                        Помощь 
                    </a>                 
                </div>
            </div>
        </header>
        <main>
            <div class="solver-classic-background">
                <p class="solver-title">
                    Геометрия
                </p>
                <p class="solver-main-text">
                    Ниже представлено то, что Физмат-калькулятор может посчитать.
                    Выберите нужный тип задачи и перейдите по нему.
                    Вы увидите поля ввода чисел в формулу.
                    После отправки чисел Вы получите точный ответ или сообщение о неккоректном вводе.
                    Физмат-калькулятор желает Вам удачи!
                </p>
            </div>
            <div class="solver-classic-background">
                <div class="tasks-grid">
                    <div class="tasks-card">
                        <a href="geometry/angle" class="task-redirect-button">
                            Задачи на поиск угла (синусы углов фигур, многоугольники)
                        </a>
                    </div>
                    <div class="tasks-card">
                        <a href="geometry/area" class="task-redirect-button">
                            Задачи на поиск площади (треугольники, параллелограммы, трапеции, круги)
                        </a>
                    </div>
                    <div class="tasks-card">
                        <a href="geometry/base" class="task-redirect-button">
                            Задачи на поиск основания (треугольники, параллелограммы, трапеции)
                        </a>
                    </div>
                    <div class="tasks-card">
                        <a href="geometry/coefficient" class="task-redirect-button">
                            Задачи на поиск коэффициента (подобие фигур)
                        </a>
                    </div>
                    <div class="tasks-card">
                        <a href="geometry/height" class="task-redirect-button">
                            Задачи на поиск высоты (треугольники, параллелограммы, трапеции)
                        </a>
                    </div>
                    <div class="tasks-card">
                        <a href="geometry/perimeter" class="task-redirect-button">
                            Задачи на поиск периметра (многоугольники, окружности)
                        </a>
                    </div>
                    <div class="tasks-card">
                        <a href="geometry/radius" class="task-redirect-button">
                            Задачи на поиск радиуса (окружности)
                        </a>
                    </div>
                    <div class="tasks-card">
                        <a href="geometry/side" class="task-redirect-button">
                            Задачи на поиск стороны (треугольники, параллелограммы)
                        </a>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="solver-footer-background">
                <p class="solver-footer-text">
                    Вы можете найти информацию про «Физмат-калькулятор» на странице «О нас».
                    Если же Вам требуется подсказка для использования сайта - переходите на страницу «Помощь».
                </p>
                <p class="solver-footer-text">
                    «Физмат-калькулятор». Все расчеты верны.
                </p>
            </div>
        </footer>
    </body>
</html>
