<!DOCTYPE html>
<html>
    <head>
        <title>
            Электромагнетизм | Физмат-калькулятор - научный калькулятор для школы по физике и математике
        </title>
        <link rel="stylesheet" href="{{ url_for('static', path='css/solver.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='css/subjects.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='css/subjectsections.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='css/tasks.css') }}">
        <link rel="icon" type="image/x-icon" href="/static/images/school_physmath_solver_favicon.png">
    </head>
    <body class="solver-physics-background">
        <header>
            <div class="solver-header-background">
                <div class="solver-header-menu">
                    <p id="solver-title" class="solver-header-text">
                        
                    </p>
                    <p id="solver-slogan" class="solver-header-text">
                        
                    </p>
                </div>
            </div>
        </header>
        <main>
            <div class="solver-main-background">
                <div class="subject-section-info-card">
                    <p class="subject-section-title">
                        Электромагнетизм
                    </p>
                    <p class="subject-section-text">
                        Ниже представлено то, что Физмат-калькулятор может посчитать.
                        Выберите нужный тип задачи и перейдите по нему.
                        Вы увидите поля ввода чисел в формулу.
                        После отправки чисел Вы получите точный ответ или сообщение о неккоректном вводе.
                        Физмат-калькулятор желает Вам удачи!
                    </p>
                </div>
                <div class="tasks-grid">
                    <div class="task-card">
                        <a href="electromagnetics/electricity" class="task-redirect-button">
                            Задачи на электричество
                        </a>
                    </div>
                    <div class="task-card">
                        <a href="electromagnetics/magnetism" class="task-redirect-button">
                            Задачи на магнетизм
                        </a>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="solver-footer-background">
                <div id="solver-footer" class="solver-footer-menu">
                    
                </div>
            </div>
        </footer>
        <script src="/static/js/pagesetup.js" type="module"></script>
    </body>
</html>
