<!DOCTYPE html>
<html>
    <head>
        <title>
            Механика | Физмат-калькулятор - научный калькулятор для школы по физике и математике
        </title>
        <link rel="stylesheet" href="{{ url_for('static', path='css/solver.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='css/subjects.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='css/tasks.css') }}">
        <link rel="icon" type="image/x-icon" href="/static/images/school_physmath_solver_favicon.png">
    </head>
    <body>
        <header>
            <div class="solver-header-background">
                <div class="solver-inline-menu">
                    <a href="/aboutus" class="solver-inline-menu-button">
                        О нас
                    </a>
                    <a href="/physics" class="solver-inline-menu-button">
                        Физика
                    </a>
                    <a href="/faq" class="solver-inline-menu-button">
                        Помощь 
                    </a>                 
                </div>
            </div>
        </header>
        <main>
            <div class="solver-classic-background">
                <p class="solver-title">
                    Механика
                </p>
                <p class="solver-main-text">
                    Ниже представлено то, что Физмат-калькулятор может посчитать.
                    Выберите нужный тип задачи и перейдите по нему.
                    Вы увидите поля ввода чисел в формулу.
                    После отправки чисел Вы получите точный ответ или сообщение о неккоректном вводе.
                    Физмат-калькулятор желает вам удачи!
                </p>
            </div>
            <div class="solver-classic-background">
                <div class="tasks-grid">
                    <div class="task-card">
                        <a href="mechanics/acceleration" class="task-redirect-button">
                            Задачи на поиск ускорения (линейного, центростремительного, свободного падения)
                        </a>                        
                    </div>
                    <div class="task-card">
                        <a href="mechanics/angle" class="task-redirect-button">
                            Задачи на поиск угла (косинус из механической работы)
                        </a>                        
                    </div>
                    <div class="task-card">
                        <a href="mechanics/area" class="task-redirect-button">
                            Задачи на поиск площади (давление)
                        </a>                        
                    </div>
                    <div class="task-card">
                        <a href="mechanics/coefficient" class="task-redirect-button">
                            Задачи на поиск коэффициента (трения, жесткости)
                        </a>                        
                    </div>
                    <div class="task-card">
                        <a href="mechanics/density" class="task-redirect-button">
                            Задачи на поиск плотности (через массу и гидростатическое давление)
                        </a>                        
                    </div>
                    <div class="task-card">
                        <a href="mechanics/distance" class="task-redirect-button">
                            Задачи на поиск расстояния (через время и механическую работу)
                        </a>                        
                    </div>
                    <div class="task-card">
                        <a href="mechanics/elongation" class="task-redirect-button">
                            Задачи на поиск удлинения (пружины)
                        </a>                        
                    </div>
                    <div class="task-card">
                        <a href="mechanics/energy" class="task-redirect-button">
                            Задачи на поиск энергии (кинетической и потенциальной)
                        </a>                        
                    </div>
                    <div class="task-card">
                        <a href="mechanics/force" class="task-redirect-button">
                            Задачи на поиск силы (результирующей, упругости, нормальная реакция опоры, трения, тяжести)
                        </a>                        
                    </div>
                    <div class="task-card">
                        <a href="mechanics/height" class="task-redirect-button">
                            Задачи на поиск высоты
                        </a>                        
                    </div>
                    <div class="task-card">
                        <a href="mechanics/mass" class="task-redirect-button">
                            Задачи на поиск массы
                        </a>                        
                    </div>
                    <div class="task-card">
                        <a href="mechanics/momentum" class="task-redirect-button">
                            Задачи на поиск импульса
                        </a>                        
                    </div>
                    <div class="task-card">
                        <a href="mechanics/power" class="task-redirect-button">
                            Задачи на поиск мощности
                        </a>                        
                    </div>
                    <div class="task-card">
                        <a href="mechanics/pressure" class="task-redirect-button">
                            Задачи на поиск давления
                        </a>                        
                    </div>
                    <div class="task-card">
                        <a href="mechanics/time" class="task-redirect-button">
                            Задачи на поиск времени
                        </a>                        
                    </div>
                    <div class="task-card">
                        <a href="mechanics/velocity" class="task-redirect-button">
                            Задачи на поиск скорости
                        </a>                        
                    </div>
                    <div class="task-card">
                        <a href="mechanics/volume" class="task-redirect-button">
                            Задачи на поиск объема
                        </a>                        
                    </div>
                    <div class="task-card">
                        <a href="mechanics/work" class="task-redirect-button">
                            Задачи на поиск работы
                        </a>                        
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="solver-footer-background">
                <p class="solver-footer-text">
                    Вы можете найти информацию про «Физмат-калькулятор» на странице «О нас».
                    Если же Вам требуется подсказка для использования сайта - переходите на страницу «Помощь».
                </p>
                <p class="solver-footer-text">
                    «Физмат-калькулятор». Все расчеты верны.
                </p>
            </div>
        </footer>
    </body>
</html>
