<!DOCTYPE html>
<html>
    <head>
        <title>
            Многоугольники | Физмат-калькулятор
        </title>
        <link rel="stylesheet" href="{{ url_for('static', path='css/solver.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='css/formulas.css') }}">
        <link rel="icon" type="image/x-icon" href="/static/images/school_physmath_solver_favicon.png">
    </head>
    <body class="solver-physmath-background">
        <header>
            <div class="solver-header-background">
                <div id="solver-header" class="solver-header-menu">
                    
                </div>
            </div>
        </header>
        <main>
            <div class="formula-header">
                <p class="formula-title">
                    Правильные многоугольники
                </p>
            </div>
            <div class="formulas-grid">
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Периметр правильного многоугольника через длину его стороны
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>P</mi>
                                <mo>=</mo>
                                <mi>a</mi>
                                <mi>n</mi>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Длина стороны">
                        <input class="formula-input" type="text" placeholder="Количество сторон">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Длина стороны правильного многоугольника через его периметр
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>a</mi>
                                <mo>=</mo>
                                <mfrac>
                                    <mi>P</mi>
                                    <mi>n</mi>
                                </mfrac>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Периметр многоугольника">
                        <input class="formula-input" type="text" placeholder="Количество сторон">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Количество сторон правильного многоугольника через его периметр
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>n</mi>
                                <mo>=</mo>
                                <mfrac>
                                    <mi>P</mi>
                                    <mi>a</mi>
                                </mfrac>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Периметр многоугольника">
                        <input class="formula-input" type="text" placeholder="Длина стороны">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Внутренний угол правильного многоугольника через сумму его углов
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <msup>
                                    <mi>a</mi>
                                    <mtext>°</mtext>
                                </msup>
                                <mo>=</mo>
                                <mfrac>
                                    <mi>S</mi>
                                    <mi>n</mi>
                                </mfrac>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Сумма углов">
                        <input class="formula-input" type="text" placeholder="Количество сторон">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Сумма углов правильного многоугольника через его внутренний угол
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>S</mi>
                                <mo>=</mo>
                                <msup>
                                    <mi>a</mi>
                                    <mtext>°</mtext>
                                </msup>
                                <mi>n</mi>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Внутренний угол">
                        <input class="formula-input" type="text" placeholder="Количество сторон">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Количество сторон правильного многоугольника через сумму его углов
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>n</mi>
                                <mo>=</mo>
                                <mfrac>
                                    <mi>S</mi>
                                    <msup>
                                        <mi>a</mi>
                                        <mtext>°</mtext>
                                    </msup>
                                </mfrac>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Сумма углов">
                        <input class="formula-input" type="text" placeholder="Внутренний угол">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
            </div>
            <div class="formula-header">
                <p class="formula-title">
                    Произвольные многоугольники
                </p>
            </div>
            <div class="formulas-grid">
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Количество сторон произвольного многоугольника через сумму его углов
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>n</mi>
                                <mo>=</mo>
                                <mfrac>
                                    <mi>S</mi>
                                    <msup>
                                        <mn>180</mn>
                                        <mtext>°</mtext>
                                    </msup>
                                </mfrac>
                                <mo>+</mo>
                                <mi>2</mi>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Сумма углов">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Сумма углов произвольного многоугольника через количество его сторон
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>S</mi>
                                <mo>=</mo>
                                <mo>(</mo>
                                <mi>n</mi>
                                <mo>−</mo>
                                <mi>2</mi>
                                <mo>)</mo>
                                <msup>
                                    <mi>180</mi>
                                    <mtext>°</mtext>
                                </msup>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Количество сторон">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="solver-footer-background">
                <div id="solver-footer" class="solver-footer-menu">
                    
                </div>
            </div>
        </footer>
        <script src="/static/js/pagesetup.js" type="module"></script>
    </body>
</html>
