<!DOCTYPE html>
<html>
    <head>
        <title>
            Трапеции | Физмат-калькулятор
        </title>
        <link rel="stylesheet" href="{{ url_for('static', path='css/solver.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='css/formulas.css') }}">
        <link rel="icon" type="image/x-icon" href="/static/images/school_physmath_solver_favicon.png">
    </head>
    <body class="solver-physmath-background">
        <header>
            <div class="solver-header-background">
                <div class="solver-header-menu">
                    <p id="solver-title" class="solver-header-text">
                        
                    </p>
                    <p id="solver-slogan" class="solver-header-text">
                        
                    </p>
                </div>
            </div>
        </header>
        <main>
            <div class="formula-header">
                <p class="formula-title">
                    Площадь трапеции
                </p>
            </div>
            <div class="formulas-grid">
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Площадь трапеции через полусумму боковых сторон и высоту
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>S</mi>
                                <mo>=</mo>
                                <mo>(</mo>
                                <mfrac>
                                    <mrow>
                                        <mi>a</mi>
                                        <mo>+</mo>
                                        <mi>b</mi>
                                    </mrow>
                                    <mn>2</mn>
                                </mfrac>
                                <mo>)</mo>
                                <mi>h</mi>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Основания трапеции (a, b)">
                        <input class="formula-input" type="text" placeholder="Высота трапеции">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
            </div>
            <div class="formula-header">
                <p class="formula-title">
                    Основание трапеции
                </p>
            </div>
            <div class="formulas-grid">
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Основание трапеции через её площадь
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>a</mi>
                                <mo>=</mo>
                                <mfrac>
                                    <mrow>
                                        <mn>2</mn>
                                        <mi>S</mi>
                                        <mo>−</mo>
                                        <mi>h</mi>
                                    </mrow>
                                    <mi>b</mi>
                                </mfrac>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Площадь трапеции">
                        <input class="formula-input" type="text" placeholder="Высота трапеции">
                        <input class="formula-input" type="text" placeholder="Данное основание">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
            </div>
            <div class="formula-header">
                <p class="formula-title">
                    Высота трапеции
                </p>
            </div>
            <div class="formulas-grid">
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Высота трапеции через её площадь
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>h</mi>
                                <mo>=</mo>
                                <mfrac>
                                    <mrow>
                                        <mn>2</mn>
                                        <mi>S</mi>
                                    </mrow>
                                    <mrow>
                                        <mi>a</mi>
                                        <mo>+</mo>
                                        <mi>b</mi>
                                    </mrow>
                                </mfrac>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Площадь трапеции">
                        <input class="formula-input" type="text" placeholder="Основания трапеции (a, b)">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="solver-footer-background">
                <div id="solver-footer" class="solver-footer-menu">
                    
                </div>
            </div>
        </footer>
        <script src="/static/js/pagesetup.js" type="module"></script>
    </body>
</html>
