<!DOCTYPE html>
<html>
    <head>
        <title>
            Треугольники | Физмат-калькулятор
        </title>
        <link rel="stylesheet" href="{{ url_for('static', path='css/solver.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='css/formulas.css') }}">
        <link rel="icon" type="image/x-icon" href="/static/images/school_physmath_solver_favicon.png">
    </head>
    <body class="solver-physmath-background">
        <header>
            <div class="solver-header-background">
                <div id="solver-header" class="solver-header-menu">
                    
                </div>
            </div>
        </header>
        <main>
            <div class="formula-header">
                <p class="formula-title">
                    Площадь треугольника
                </p>
            </div>
            <div class="formulas-grid">
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Площадь треугольника через основание и высоту
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>S</mi>
                                <mo>=</mo>
                                <mfrac>
                                    <mrow>
                                        <mi>a</mi>
                                        <mi>h</mi>
                                    </mrow>
                                    <mn>2</mn>
                                </mfrac>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Основание треугольника">
                        <input class="formula-input" type="text" placeholder="Высота треугольника">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Площадь треугольника через формулу Герона
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>S</mi>
                                <mo>=</mo>
                                <msqrt>
                                    <mi>p</mi>
                                    <mo>(</mo>
                                    <mi>p</mi>
                                    <mo>−</mo>
                                    <mi>a</mi>
                                    <mo>)</mo>
                                    <mo>(</mo>
                                    <mi>p</mi>
                                    <mo>−</mo>
                                    <mi>b</mi>
                                    <mo>)</mo>
                                    <mo>(</mo>
                                    <mi>p</mi>
                                    <mo>−</mo>
                                    <mi>c</mi>
                                    <mo>)</mo>
                                </msqrt>
                            </math>
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>p</mi>
                                <mo>=</mo>
                                <mfrac>
                                    <mrow>
                                        <mi>a</mi>
                                        <mo>+</mo>
                                        <mi>b</mi>
                                        <mo>+</mo>
                                        <mi>c</mi>
                                    </mrow>
                                    <mn>2</mn>
                                </mfrac>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Стороны треугольника (a, b, c)">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Площадь треугольника через смежные стороны и синус угла между ними
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>S</mi>
                                <mo>=</mo>
                                <mfrac>
                                    <mn>1</mn>
                                    <mn>2</mn>
                                </mfrac>
                                <mi>a</mi>
                                <mi>b</mi>
                                <mi>sin</mi>
                                <msup>
                                    <mi>a</mi>
                                    <mtext>°</mtext>
                                </msup>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Основание треугольника">
                        <input class="formula-input" type="text" placeholder="Высота треугольника">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Площадь треугольника через радиус вписанной окружности
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>S</mi>
                                <mo>=</mo>
                                <mfrac>
                                    <mrow>
                                        <mi>P</mi>
                                        <mi>r</mi>
                                    </mrow>
                                    <mn>2</mn>
                                </mfrac>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Периметр треугольника">
                        <input class="formula-input" type="text" placeholder="Радиус вписанной окружности">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Площадь треугольника через радиус описанной окружности
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>S</mi>
                                <mo>=</mo>
                                <mfrac>
                                    <mrow>
                                        <mi>a</mi>
                                        <mi>b</mi>
                                        <mi>c</mi>
                                    </mrow>
                                    <mrow>
                                        <mn>4</mn>
                                        <mi>R</mi>
                                    </mrow>
                                </mfrac>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Стороны треугольника (a, b, c)">
                        <input class="formula-input" type="text" placeholder="Радиус описанной окружности">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
            </div>
            <div class="formula-header">
                <p class="formula-title">
                    Основание треугольника
                </p>
            </div>
            <div class="formulas-grid">
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Основание треугольника через площадь и высоту
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>a</mi>
                                <mo>=</mo>
                                <mfrac>
                                    <mi>S</mi>
                                    <mi>h</mi>
                                </mfrac>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Площадь треугольника">
                        <input class="formula-input" type="text" placeholder="Высота треугольника">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
            </div>
            <div class="formula-header">
                <p class="formula-title">
                    Высота треугольника
                </p>
            </div>
            <div class="formulas-grid">
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Высота треугольника через площадь и основание
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>h</mi>
                                <mo>=</mo>
                                <mfrac>
                                    <mi>S</mi>
                                    <mi>a</mi>
                                </mfrac>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Площадь треугольника">
                        <input class="formula-input" type="text" placeholder="Основание треугольника">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
            </div>
            <div class="formula-header">
                <p class="formula-title">
                    Стороны треугольника
                </p>
            </div>
            <div class="formulas-grid">
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Смежная сторона треугольника через его площадь
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>a</mi>
                                <mo>=</mo>
                                <mfrac>
                                    <mrow>
                                        <mn>2</mn>
                                        <mi>S</mi>
                                    </mrow>
                                    <mrow>
                                        <mi>b</mi>
                                        <mi>sin</mi>
                                        <msup>
                                            <mi>a</mi>
                                            <mtext>°</mtext>
                                        </msup>
                                    </mrow>
                                </mfrac>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Площадь треугольника">
                        <input class="formula-input" type="text" placeholder="Известная сторона">
                        <input class="formula-input" type="text" placeholder="Синус угла">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Противоположная сторона треугольника через теорему косинусов
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>c</mi>
                                <mo>=</mo>
                                <msqrt>
                                    <msup>
                                        <mi>a</mi>
                                        <mn>2</mn>
                                    </msup>
                                    <mo>+</mo>
                                    <msup>
                                        <mi>b</mi>
                                        <mn>2</mn>
                                    </msup>
                                    <mo>−</mo>
                                    <mn>2</mn>
                                    <mi>a</mi>
                                    <mi>b</mi>
                                    <mi>cos</mi>
                                    <msup>
                                        <mi>a</mi>
                                        <mtext>°</mtext>
                                    </msup>
                                </msqrt>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Стороны треугольника (a, b)">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Смежная сторона треугольника через теорему косинусов
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>a</mi>
                                <mo>=</mo>
                                <mi>b</mi>
                                <mi>cos</mi>
                                <msup>
                                    <mi>a</mi>
                                    <mtext>°</mtext>
                                </msup>
                                <mo>±</mo>
                                <msqrt>
                                    <msup>
                                        <mrow>
                                            <mo>(</mo>
                                            <mi>b</mi>
                                            <mi>cos</mi>
                                            <msup>
                                                <mi>a</mi>
                                                <mtext>°</mtext>
                                            </msup>
                                            <mo>)</mo>
                                        </mrow>
                                        <mn>2</mn>
                                    </msup>
                                    <mo>+</mo>
                                    <msup>
                                        <mi>c</mi>
                                        <mn>2</mn>
                                    </msup>
                                    <mo>−</mo>
                                    <msup>
                                        <mi>b</mi>
                                        <mn>2</mn>
                                    </msup>
                                </msqrt>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Стороны треугольника (b, c)">
                        <input class="formula-input" type="text" placeholder="Косинус угла">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Гипотенуза прямоугольного треугольника через теорему Пифагора
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>c</mi>
                                <mo>=</mo>
                                <msqrt>
                                    <msup>
                                        <mi>a</mi>
                                        <mn>2</mn>
                                    </msup>
                                    <mo>+</mo>
                                    <msup>
                                        <mi>b</mi>
                                        <mn>2</mn>
                                    </msup>
                                </msqrt>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Стороны треугольника (a, b)">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Гипотенуза прямоугольного треугольника через теорему Пифагора
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>a</mi>
                                <mo>=</mo>
                                <msqrt>
                                    <msup>
                                        <mi>c</mi>
                                        <mn>2</mn>
                                    </msup>
                                    <mo>−</mo>
                                    <msup>
                                        <mi>b</mi>
                                        <mn>2</mn>
                                    </msup>
                                </msqrt>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Гипотенуза треугольника">
                        <input class="formula-input" type="text" placeholder="Известный катет">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Сторона треугольника через радиус описанной окружности
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>a</mi>
                                <mo>=</mo>
                                <mfrac>
                                    <mrow>
                                        <mn>4</mn>
                                        <mi>S</mi>
                                        <mi>R</mi>
                                    </mrow>
                                    <mrow>
                                        <mi>b</mi>
                                        <mi>c</mi>
                                    </mrow>
                                </mfrac>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Площадь треугольника">
                        <input class="formula-input" type="text" placeholder="Радиус описанной окружности">
                        <input class="formula-input" type="text" placeholder="Стороны треугольника (b, c)">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
            </div>
            <div class="formula-header">
                <p class="formula-title">
                    Периметр треугольника
                </p>
            </div>
            <div class="formulas-grid">
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Периметр треугольника через радиус вписанной окружности
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>P</mi>
                                <mo>=</mo>
                                <mfrac>
                                    <mrow>
                                        <mn>2</mn>
                                        <mi>S</mi>
                                    </mrow>
                                    <mi>r</mi>
                                </mfrac>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Площадь треугольника">
                        <input class="formula-input" type="text" placeholder="Радиус вписанной окружности">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
            </div>
            <div class="formula-header">
                <p class="formula-title">
                    Тригонометрические функции углов
                </p>
            </div>
            <div class="formulas-grid">
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Косинус угла треугольника через теорему косинусов
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>cos</mi>
                                <mi>a</mi>
                                <mo>=</mo>
                                <mfrac>
                                    <mrow>
                                        <msup>
                                            <mi>a</mi>
                                            <mn>2</mn>
                                        </msup>
                                        <mo>+</mo>
                                        <msup>
                                            <mi>b</mi>
                                            <mn>2</mn>
                                        </msup>
                                        <mo>−</mo>
                                        <msup>
                                            <mi>c</mi>
                                            <mn>2</mn>
                                        </msup>
                                    </mrow>
                                    <mrow>
                                        <mn>2</mn>
                                        <mi>a</mi>
                                        <mi>b</mi>
                                    </mrow>
                                </mfrac>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Стороны треугольника (a, b, c)">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Синус угла треугольника через его площадь
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>sin</mi>
                                <mi>a</mi>
                                <mo>=</mo>
                                <mfrac>
                                    <mrow>
                                        <mn>2</mn>
                                        <mi>S</mi>
                                    </mrow>
                                    <mrow>
                                        <mi>a</mi>
                                        <mi>b</mi>
                                    </mrow>
                                </mfrac>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Площадь треугольника">
                        <input class="formula-input" type="text" placeholder="Стороны треугольника (a, b)">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="solver-footer-background">
                <div id="solver-footer" class="solver-footer-menu">
                    
                </div>
            </div>
        </footer>
        <script src="/static/js/pagesetup.js" type="module"></script>
    </body>
</html>
