<!DOCTYPE html>
<html>
    <head>
        <title>
            О нас | Физмат-калькулятор - научный калькулятор для школы по физике и математике
        </title>
        <link rel="stylesheet" href="{{ url_for('static', path='css/solver.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='css/aboutus.css') }}">
    </head>
    <body>
        <header>
            <div class="solver-header-background">
                <div class="solver-inline-menu">
                    <a href="/" class="solver-inline-menu-button">
                        Главная
                    </a>
                    <a href="/faq" class="solver-inline-menu-button">
                        Помощь 
                    </a>                 
                </div>
            </div>
        </header>
        <main>
            <div class="solver-main-background">
                <div class="aboutus-grid">
                    <div class="aboutus-card">
                        <p class="aboutus-title">
                            Политика пользования
                        </p>
                        <p class="aboutus-text">
                            МЫ НЕ СОБИРАЕМ НИКАКИХ ПОЛЬЗОВАТЕЛЬСКИХ ДАННЫХ ИЛИ ДЕНЕЖНЫХ СРЕДСТВ НИ В КАКОМ ВИДЕ.
                            «Физмат-калькулятор» не требует регистрации или оплаты услуг.
                            Единственное, что наш сайт принимает от Вас - это Ваши числа в поля ввода формулы из учебника.
                        </p>
                    </div>
                    <div class="aboutus-card">
                        <p class="aboutus-title">
                            Наша история
                        </p>
                        <p class="aboutus-text">
                            Всё началось с идеи создания сайта, где расчеты школьных формул можно автоматизировать и наглядно показать.
                            Этот сайт смог бы помочь образованию войти в новый век цифровых технологий.
                            Проект «Физмат-калькулятор» прошел школьную конференцию проектов 17 апреля 2026 года «День науки и творчества» в МБОУ «Гимназия имени С.В.Ковалевской».
                            Далее 30 апреля того же года он занял 2 место на муниципальной конференции в Управлении образования.
                            Разработчик проекта получил дипломы за школьный и муниципальный этап.
                        </p>
                    </div>
                    <div class="aboutus-card">
                        <p class="aboutus-title">
                            Наши преимущества
                        </p>
                        <p class="aboutus-text">
                            «Физмат-калькулятор» сам умеет отбрасывать любые символы в полях ввода, кроме цифр, минусов и точек, поэтому, например, ввод "?%т123-*%" калькулятор воспримет, как число 123.
                            Вы можете опечатываться или не дописывать числа - этот ввод калькулятор просто не пропустит в расчеты.
                            Так же калькулятор выдает Вам точный ответ на ваши числа абсолютно бесплатно и без какой-либо регистрации.
                            Вам не нужно тратить время: все работает само и круглосуточно.
                        </p>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="solver-footer-background">
                <p class="solver-footer-text">
                    Все права защищены.
                </p>
                <p class="solver-footer-text">
                    «Физмат-калькулятор». Все расчеты верны.
                </p>
            </div>
        </footer>
    </body>
</html>
