<!DOCTYPE html>
<html>
    <head>
        <title>
            Физмат-калькулятор - научный калькулятор для школы по физике и математике
        </title>
        <link rel="stylesheet" href="{{ url_for('static', path='css/solver.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='css/subjects.css') }}">
        <link rel="icon" type="image/x-icon" href="/static/images/school_physmath_solver_favicon.png">
    </head>
    <body>
        <header>
            <div class="solver-header-background">
                <div id="solver-header" class="solver-header-menu">
                    
                </div>
            </div>
        </header>
        <main>
            <div class="solver-main-background">
                <p class="solver-main-text">
                    Физмат-калькулятор - это сайт, созданный для быстрых вычислений школьных формул из учебников.
                    Он предназначен для экономии времени и высокой производительности на уроке.
                    В отличии от обычного калькулятора, он не падает от деления на ноль или некорректного ввода.
                    Его преимущество против нейросетей заключается в скорости и точности вычислений.
                </p>
                <p class="solver-main-text">
                    Физмат-калькулятор может быть использован для решения задач прямо на уроке.
                    С помощью него учитель сможет подготовить учеников к контрольной или экзаменам.
                    Он предлагает пользователю интерактивное учебное пособие в сопровождении школьной программы.
                    Им могут пользоваться учителя, ученики или просто интересующиеся люди.
                </p>
                <div class="subjects-grid">
                    <div class="subject-physics-image">
                        <p class="subject-name">
                            Физика
                        </p>
                        <a href="/physics" class="subject-redirect-button">
                            Перейти
                        </a>
                    </div>
                    <div class="subject-math-image">
                        <p class="subject-name">
                            Математика
                        </p>
                        <a href="/math" class="subject-redirect-button">
                            Перейти
                        </a>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="solver-footer-background">
                <div id="solver-footer" class="solver-footer-menu">
                    
                </div>
            </div>
        </footer>
        <script src="/static/js/pagesetup.js" type="module"></script>
    </body>
</html>
