<!DOCTYPE html>
<html>
    <head>
        <title>
            Математика | Физмат-калькулятор - научный калькулятор для школы по физике и математике
        </title>
        <link rel="stylesheet" href="{{ url_for('static', path='css/solver.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='css/subjects.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='css/subjectsections.css') }}">
        <link rel="icon" type="image/x-icon" href="/static/images/school_physmath_solver_favicon.png">
    </head>
    <body class="solver-math-background">
        <header>
            <div class="solver-header-background">
                <div class="solver-header-menu">
                    <p id="solver-title" class="solver-header-text">
                        
                    </p>
                    <p id="solver-slogan" class="solver-header-text">
                        
                    </p>
                </div>
            </div>
        </header>
        <main>
            <div class="solver-main-background">
                <div class="subject-info-card">
                    <p class="subject-title">
                        Математика
                    </p>
                    <p class="subject-text">
                        Приветствуем Вас на странице математики!
                        Здесь Вы можете выбрать разделы данной науки: алгебра и геометрия.
                        Физмат-калькулятор с удовольствием посчитает вам все, что нужно.
                        Корни квадратного уравнения через дискриминант для него завтрак.
                        Площадь треугольника через синус найдет одной левой.
                    </p>
                </div>
                <div class="subjects-sections-grid">
                    <div class="subject-section-card">
                        <p class="subject-section-title">
                            Алгебра
                        </p>
                        <a href="math/algebra" class="subject-section-redirect-button">
                            Перейти
                        </a>                        
                    </div>
                    <div class="subject-section-card">
                        <p class="subject-section-title">
                            Геометрия
                        </p>
                        <a href="math/geometry" class="subject-section-redirect-button">
                            Перейти
                        </a>                        
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="solver-footer-background">
                <div id="solver-footer" class="solver-footer-menu">
                    
                </div>
            </div>
        </footer>
        <script src="/static/js/pagesetup.js" type="module"></script>
    </body>
</html>
