<!DOCTYPE html>
<html>
    <head>
        <title>
            Физика | Физмат-калькулятор - научный калькулятор для школы по физике и математике
        </title>
        <link rel="stylesheet" href="{{ url_for('static', path='css/solver.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='css/subjects.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='css/subjectsections.css') }}">
        <link rel="icon" type="image/x-icon" href="/static/images/school_physmath_solver_favicon.png">
    </head>
    <body class="solver-physics-background">
        <header>
            <div class="solver-header-background">
                <div class="solver-header-menu">
                    <p id="solver-title" class="solver-header-text">
                        
                    </p>
                    <p id="solver-slogan" class="solver-header-text">
                        
                    </p>
                </div>
            </div>
        </header>
        <main>
            <div class="solver-main-background">
                <div class="subject-info-card">
                    <p class="subject-title">
                        Физика
                    </p>
                    <p class="subject-text">
                        Приветствуем Вас на странице физики!
                        Здесь Вы можете выбрать разделы данной науки: электромагнетизм, механика и термодинамика.
                        Физмат-калькулятор выдаст Вам ответ строго по правилам природы.
                        Он лекго рассчитает силу Лоренца для задач по магнитам.
                        Три закона Ньютона помнит как свои 5 пальцев.
                        И так же скажет, сколько нужно кипятить чайник.
                    </p>
                </div>
                <div class="subjects-sections-grid">
                    <div class="subject-section-card">
                        <p class="subject-section-title">
                            Электромагнетизм
                        </p>
                        <a href="physics/electromagnetics" class="subject-section-redirect-button">
                            Перейти
                        </a>                        
                    </div>
                    <div class="subject-section-card">
                        <p class="subject-section-title">
                            Механика
                        </p>
                        <a href="physics/mechanics" class="subject-section-redirect-button">
                            Перейти
                        </a>                        
                    </div>
                    <div class="subject-section-card">
                        <p class="subject-section-title">
                            Термодинамика
                        </p>
                        <a href="physics/thermodynamics" class="subject-section-redirect-button">
                            Перейти
                        </a>                        
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="solver-footer-background">
                <div id="solver-footer" class="solver-footer-menu">
                    
                </div>
            </div>
        </footer>
        <script src="/static/js/pagesetup.js" type="module"></script>
    </body>
</html>
