<!DOCTYPE html>
<html>
    <head>
        <title>
            Физика | Физмат-калькулятор - научный калькулятор для школы по физике и математике
        </title>
        <link rel="stylesheet" href="{{ url_for('static', path='css/solver.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='css/subjects.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='css/subjectsections.css') }}">
    </head>
    <body>
        <header>
            <div class="solver-header-background">
                <div class="solver-inline-menu">
                    <a href="/aboutus" class="solver-inline-menu-button">
                        О нас
                    </a>
                    <a href="/" class="solver-inline-menu-button">
                        Главная
                    </a>
                    <a href="/faq" class="solver-inline-menu-button">
                        Помощь 
                    </a>                 
                </div>
            </div>
        </header>
        <main>
            <div class="solver-classic-background">
                <p class="solver-title">
                    Физика
                </p>
                <p class="solver-main-text">
                    Приветствуем Вас на странице физики!
                    Здесь Вы можете выбрать разделы данной науки: электромагнетизм, механика и термодинамика.
                    Физмат-калькулятор выдаст Вам ответ строго по правилам природы.
                    Он лекго рассчитает силу Лоренца для задач по магнитам.
                    Три закона Ньютона помнит как свои 5 пальцев.
                    И так же скажет, сколько нужно кипятить чайник.
                </p>
            </div>
            <div class="solver-logo-background">
                <div class="subjects-sections-grid">
                    <div class="subject-section-card">
                        <p class="subject-section-title">
                            Электромагнетизм
                        </p>
                        <a href="physics/electromagnetics" class="subject-section-redirect-button">
                            Перейти
                        </a>                        
                    </div>
                    <div class="subject-section-card">
                        <p class="subject-section-title">
                            Механика
                        </p>
                        <a href="physics/mechanics" class="subject-section-redirect-button">
                            Перейти
                        </a>                        
                    </div>
                    <div class="subject-section-card">
                        <p class="subject-section-title">
                            Термодинамика
                        </p>
                        <a href="physics/thermodynamics" class="subject-section-redirect-button">
                            Перейти
                        </a>                        
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="solver-footer-background">
                <p class="solver-footer-text">
                    Вы можете найти информацию про «Физмат-калькулятор» на странице «О нас».
                    Если же Вам требуется подсказка для использования сайта - переходите на страницу «Помощь».
                </p>
                <p class="solver-footer-text">
                    «Физмат-калькулятор». Все расчеты верны.
                </p>
            </div>
        </footer>
    </body>
</html>
