<!DOCTYPE html>
<html>
    <head>
        <title>
            Электричество | Физмат-калькулятор
        </title>
        <link rel="stylesheet" href="{{ url_for('static', path='css/solver.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='css/formulas.css') }}">
        <link rel="icon" type="image/x-icon" href="/static/images/school_physmath_solver_favicon.png">
    </head>
    <body class="solver-physmath-background">
        <header>
            <div class="solver-header-background">
                <div class="solver-header-menu">
                    <p id="solver-title" class="solver-header-text">
                        
                    </p>
                    <p id="solver-slogan" class="solver-header-text">
                        
                    </p>
                </div>
            </div>
        </header>
        <main>
            <div class="formula-header">
                <p class="formula-title">
                    Площадь попереченого сечения проводника
                </p>
            </div>
            <div class="formulas-grid">
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Площадь попереченого сечения проводника через удельное сопротивление
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>S</mi>
                                <mo>=</mo>
                                <mfrac>
                                    <mrow>
                                        <mi>ρ</mi>
                                        <mi>l</mi>
                                    </mrow>
                                    <mi>R</mi>
                                </mfrac>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Удельное сопротивление">
                        <input class="formula-input" type="text" placeholder="Длина проводника">
                        <input class="formula-input" type="text" placeholder="Итоговое сопротивление">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
            </div>
            <div class="formula-header">
                <p class="formula-title">
                    Электрический заряд
                </p>
            </div>
            <div class="formulas-grid">
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Электрический заряд через силу Лоренца
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>q</mi>
                                <mo>=</mo>
                                <mfrac>
                                    <msub>
                                        <mi>F</mi>
                                        <mtext>l</mtext>
                                    </msub>
                                    <mrow>
                                        <mi>v</mi>
                                        <mi>B</mi>
                                        <mi>sin</mi>
                                        <msup>
                                            <mi>a</mi>
                                            <mtext>°</mtext>
                                        </msup>
                                    </mrow>
                                </mfrac>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Сила Лоренца">
                        <input class="formula-input" type="text" placeholder="Скорость частицы">
                        <input class="formula-input" type="text" placeholder="Магнитная индукция">
                        <input class="formula-input" type="text" placeholder="Синус угла">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
            </div>
            <div class="formula-header">
                <p class="formula-title">
                    Сила тока
                </p>
            </div>
            <div class="formulas-grid">
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Сила тока через закон Ватта
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>I</mi>
                                <mo>=</mo>
                                <mfrac>
                                    <mi>P</mi>
                                    <mi>U</mi>
                                </mfrac>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Потребляемая мощность">
                        <input class="formula-input" type="text" placeholder="Напряжение на участке цепи">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Сила тока через закон Ома
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>I</mi>
                                <mo>=</mo>
                                <mfrac>
                                    <mi>U</mi>
                                    <mi>R</mi>
                                </mfrac>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Напряжение на участке цепи">
                        <input class="formula-input" type="text" placeholder="Сопротивление проводника">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Сила тока через ЭДС
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>I</mi>
                                <mo>=</mo>
                                <mfrac>
                                    <mrow>
                                        <mi>E</mi>
                                        <mo>−</mo>
                                        <mi>U</mi>
                                    </mrow>
                                    <mi>r</mi>
                                </mfrac>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="ЭДС">
                        <input class="formula-input" type="text" placeholder="Напряжение на внешней цепи">
                        <input class="formula-input" type="text" placeholder="Внутреннее сопротивление">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Сила тока через силу Ампера
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>I</mi>
                                <mo>=</mo>
                                <mfrac>
                                    <msub>
                                        <mi>F</mi>
                                        <mi>a</mi>
                                    </msub>
                                    <mrow>
                                        <mi>B</mi>
                                        <mi>l</mi>
                                        <mi>sin</mi>
                                        <msup>
                                            <mi>a</mi>
                                            <mtext>°</mtext>
                                        </msup>
                                    </mrow>
                                </mfrac>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="ЭДС">
                        <input class="formula-input" type="text" placeholder="Напряжение на внешней цепи">
                        <input class="formula-input" type="text" placeholder="Внутреннее сопротивление">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
            </div>
            <div class="formula-header">
                <p class="formula-title">
                    ЭДС
                </p>
            </div>
            <div class="formulas-grid">
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            ЭДС через внутреннее сопротивление
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>E</mi>
                                <mo>=</mo>
                                <mi>U</mi>
                                <mo>(</mo>
                                <mi>R</mi>
                                <mo>+</mo>
                                <mi>r</mi>
                                <mo>)</mo>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Напряжение на внешней цепи">
                        <input class="formula-input" type="text" placeholder="Внешнее сопротивление">
                        <input class="formula-input" type="text" placeholder="Внутреннее сопротивление">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
            </div>
            <div class="formula-header">
                <p class="formula-title">
                    Длина проводника
                </p>
            </div>
            <div class="formulas-grid">
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Длина проводника через удельное сопротивление
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>l</mi>
                                <mo>=</mo>
                                <mfrac>
                                    <mrow>
                                        <mi>R</mi>
                                        <mi>S</mi>
                                    </mrow>
                                    <mi>ρ</mi>
                                </mfrac>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Напряжение на внешней цепи">
                        <input class="formula-input" type="text" placeholder="Внешнее сопротивление">
                        <input class="formula-input" type="text" placeholder="Внутреннее сопротивление">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
            </div>
            <div class="formula-header">
                <p class="formula-title">
                    Мощность
                </p>
            </div>
            <div class="formulas-grid">
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Мощность через закон Ватта
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>P</mi>
                                <mo>=</mo>
                                <mi>U</mi>
                                <mi>I</mi>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Напряжение на внешней цепи">
                        <input class="formula-input" type="text" placeholder="Сила тока в цепи">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Мощность через закон Джоуля-Ленца
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>P</mi>
                                <mo>=</mo>
                                <mfrac>
                                    <mi>Q</mi>
                                    <mi>t</mi>
                                </mfrac>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Количество теплоты">
                        <input class="formula-input" type="text" placeholder="Пройденное время">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
            </div>
            <div class="formula-header">
                <p class="formula-title">
                    Сопротивление
                </p>
            </div>
            <div class="formulas-grid">
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Сопротивление на участке цепи через закон Ома
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>R</mi>
                                <mo>=</mo>
                                <mfrac>
                                    <mi>U</mi>
                                    <mi>I</mi>
                                </mfrac>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Напряжение на участке цепи">
                        <input class="formula-input" type="text" placeholder="Сила тока в цепи">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Сопротивление проводника через площадь поперечного сечения
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>R</mi>
                                <mo>=</mo>
                                <mfrac>
                                    <mrow>
                                        <mi>ρ</mi>
                                        <mi>l</mi>
                                    </mrow>
                                    <mi>S</mi>
                                </mfrac>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Удельное сопротивление материала">
                        <input class="formula-input" type="text" placeholder="Длина проводника">
                        <input class="formula-input" type="text" placeholder="Площадь попереченого сечения">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Удельное сопротивление материала проводника через его длину
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>ρ</mi>
                                <mo>=</mo>
                                <mfrac>
                                    <mrow>
                                        <mi>S</mi>
                                        <mi>R</mi>
                                    </mrow>
                                    <mi>l</mi>
                                </mfrac>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Площадь попереченого сечения">
                        <input class="formula-input" type="text" placeholder="Сопротивление проводника">
                        <input class="formula-input" type="text" placeholder="Длина проводника">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Внутреннее сопротивление проводника через ЭДС
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>r</mi>
                                <mo>=</mo>
                                <mfrac>
                                    <mrow>
                                        <mi>E</mi>
                                        <mo>−</mo>
                                        <mi>U</mi>
                                    </mrow>
                                    <mi>I</mi>
                                </mfrac>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="ЭДС">
                        <input class="formula-input" type="text" placeholder="Напряжение на внешней цепи">
                        <input class="formula-input" type="text" placeholder="Сила тока в цепи">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
            </div>
            <div class="formula-header">
                <p class="formula-title">
                    Напряжение
                </p>
            </div>
            <div class="formulas-grid">
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Напряжение на участке цепи через закон Ватта
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>U</mi>
                                <mo>=</mo>
                                <mfrac>
                                    <mi>P</mi>
                                    <mi>I</mi>
                                </mfrac>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Потребляемая мощность">
                        <input class="formula-input" type="text" placeholder="Сила тока в цепи">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Напряжение на участке цепи через закон Ома
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>U</mi>
                                <mo>=</mo>
                                <mi>I</mi>
                                <mi>R</mi>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Сила тока в цепи">
                        <input class="formula-input" type="text" placeholder="Сопротивление проводника">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Напряжение на внешней цепи через ЭДС
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>U</mi>
                                <mo>=</mo>
                                <mi>E</mi>
                                <mo>−</mo>
                                <mi>I</mi>
                                <mi>r</mi>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Площадь попереченого сечения">
                        <input class="formula-input" type="text" placeholder="Сопротивление проводника">
                        <input class="formula-input" type="text" placeholder="Длина проводника">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="solver-footer-background">
                <div id="solver-footer" class="solver-footer-menu">
                    
                </div>
            </div>
        </footer>
        <script src="/static/js/pagesetup.js" type="module"></script>
    </body>
</html>
