<!DOCTYPE html>
<html>
    <head>
        <title>
            Электричество | Физмат-калькулятор
        </title>
        <link rel="stylesheet" href="{{ url_for('static', path='css/solver.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='css/formulas.css') }}">
        <link rel="icon" type="image/x-icon" href="/static/images/school_physmath_solver_favicon.png">
    </head>
    <body class="solver-physmath-background">
        <header>
            <div class="solver-header-background">
                <div class="solver-header-menu">
                    <p id="solver-title" class="solver-header-text">
                        
                    </p>
                    <p id="solver-slogan" class="solver-header-text">
                        
                    </p>
                </div>
            </div>
        </header>
        <main>
            <div class="formula-header">
                <p class="formula-title">
                    Электромагнитные силы
                </p>
            </div>
            <div class="formulas-grid">
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Сила Ампера через магнитную индукцию
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <msub>
                                    <mi>F</mi>
                                    <mi>a</mi>
                                </msub>
                                <mo>=</mo>
                                <mi>B</mi>
                                <mi>I</mi>
                                <mi>l</mi>
                                <mi>sin</mi>
                                <msup>
                                    <mi>a</mi>
                                    <mtext>°</mtext>
                                </msup>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Магнитная индукция">
                        <input class="formula-input" type="text" placeholder="Сила тока">
                        <input class="formula-input" type="text" placeholder="Синус угла">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Сила Лоренца через магнитную индукцию
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <msub>
                                    <mi>F</mi>
                                    <mi>l</mi>
                                </msub>
                                <mo>=</mo>
                                <mi>q</mi>
                                <mi>v</mi>
                                <mi>B</mi>
                                <mi>sin</mi>
                                <msup>
                                    <mi>a</mi>
                                    <mtext>°</mtext>
                                </msup>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Заряд частицы">
                        <input class="formula-input" type="text" placeholder="Скорость частицы">
                        <input class="formula-input" type="text" placeholder="Магнитная индукция">
                        <input class="formula-input" type="text" placeholder="Синус угла">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
            </div>
            <div class="formula-header">
                <p class="formula-title">
                    Магнитная индукция
                </p>
            </div>
            <div class="formulas-grid">
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Магнитная индукция через силу Ампера
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>B</mi>
                                <mo>=</mo>
                                <mfrac>
                                    <msub>
                                        <mi>F</mi>
                                        <mi>a</mi>
                                    </msub>
                                    <mrow>
                                        <mi>I</mi>
                                        <mi>l</mi>
                                        <mi>sin</mi>
                                        <msup>
                                            <mi>a</mi>
                                            <mtext>°</mtext>
                                        </msup>
                                    </mrow>
                                </mfrac>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Сила тока">
                        <input class="formula-input" type="text" placeholder="Длина проводника">
                        <input class="formula-input" type="text" placeholder="Синус угла">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Магнитная индукция через силу Лоренца
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>B</mi>
                                <mo>=</mo>
                                <mfrac>
                                    <msub>
                                        <mi>F</mi>
                                        <mi>l</mi>
                                    </msub>
                                    <mrow>
                                        <mi>q</mi>
                                        <mi>v</mi>
                                        <mi>sin</mi>
                                        <msup>
                                            <mi>a</mi>
                                            <mtext>°</mtext>
                                        </msup>
                                    </mrow>
                                </mfrac>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Заряд частицы">
                        <input class="formula-input" type="text" placeholder="Скорость частицы">
                        <input class="formula-input" type="text" placeholder="Синус угла">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
            </div>
            <div class="formula-header">
                <p class="formula-title">
                    Длина проводника
                </p>
            </div>
            <div class="formulas-grid">
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Длина проводника через силу Ампера
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>l</mi>
                                <mo>=</mo>
                                <mfrac>
                                    <msub>
                                        <mi>F</mi>
                                        <mi>a</mi>
                                    </msub>
                                    <mrow>
                                        <mi>B</mi>
                                        <mi>I</mi>
                                        <mi>sin</mi>
                                        <msup>
                                            <mi>a</mi>
                                            <mtext>°</mtext>
                                        </msup>
                                    </mrow>
                                </mfrac>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Сила Ампера">
                        <input class="formula-input" type="text" placeholder="Магнитная индукция">
                        <input class="formula-input" type="text" placeholder="Сила тока">
                        <input class="formula-input" type="text" placeholder="Синус угла">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
            </div>
            <div class="formula-header">
                <p class="formula-title">
                    Тригонометрические функции углов
                </p>
            </div>
            <div class="formulas-grid">
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Синус угла через силу Ампера
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>sin</mi>
                                <msup>
                                    <mi>a</mi>
                                    <mtext>°</mtext>
                                </msup>
                                <mo>=</mo>
                                <mfrac>
                                    <msub>
                                        <mi>F</mi>
                                        <mi>a</mi>
                                    </msub>
                                    <mrow>
                                        <mi>q</mi>
                                        <mi>v</mi>
                                        <mi>B</mi>
                                    </mrow>
                                </mfrac>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Сила Ампера">
                        <input class="formula-input" type="text" placeholder="Заряд частицы">
                        <input class="formula-input" type="text" placeholder="Скорость частицы">
                        <input class="formula-input" type="text" placeholder="Магнитная индукция">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Синус угла через силу Лоренца
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>sin</mi>
                                <msup>
                                    <mi>a</mi>
                                    <mtext>°</mtext>
                                </msup>
                                <mo>=</mo>
                                <mfrac>
                                    <msub>
                                        <mi>F</mi>
                                        <mi>l</mi>
                                    </msub>
                                    <mrow>
                                        <mi>B</mi>
                                        <mi>I</mi>
                                        <mi>l</mi>
                                    </mrow>
                                </mfrac>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Сила Ампера">
                        <input class="formula-input" type="text" placeholder="Магнитная индукция">
                        <input class="formula-input" type="text" placeholder="Сила тока">
                        <input class="formula-input" type="text" placeholder="Длина проводника">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="solver-footer-background">
                <div id="solver-footer" class="solver-footer-menu">
                    
                </div>
            </div>
        </footer>
        <script src="/static/js/pagesetup.js" type="module"></script>
    </body>
</html>
