<!DOCTYPE html>
<html>
    <head>
        <title>
            Средние значения | Физмат-калькулятор
        </title>
        <link rel="stylesheet" href="{{ url_for('static', path='css/solver.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='css/formulas.css') }}">
        <link rel="icon" type="image/x-icon" href="/static/images/school_physmath_solver_favicon.png">
    </head>
    <body class="solver-physmath-background">
        <header>
            <div class="solver-header-background">
                <div class="solver-header-menu">
                    <p class="solver-header-text">
                        Физмат-калькулятор
                    </p>
                    <p class="solver-header-text">
                        Все расчеты верны
                    </p>
                </div>
            </div>
        </header>
        <main>
            <div class="formula-header">
                <p class="formula-title">
                    Среднее арифметическое
                </p>
            </div>
            <div class="formulas-grid">
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Среднее арифметическое через сумму и количество
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <msub>
                                    <mi>a</mi>
                                    <mtext>ср</mtext>
                                </msub>
                                <mo>=</mo>
                                <mfrac>
                                    <mrow>
                                        <mo>(</mo>
                                        <msub>
                                            <mi>x</mi>
                                            <mn>1</mn>
                                        </msub>
                                        <mo>+</mo>
                                        <mo>⋯</mo>
                                        <mo>+</mo>
                                        <msub>
                                            <mi>x</mi>
                                            <mi>n</mi>
                                        </msub>
                                        <mo>)</mo>
                                    </mrow>
                                    <mrow>
                                        <mi>n</mi>
                                    </mrow>
                                </mfrac>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Квадратичный коэффициент">
                        <input class="formula-input" type="text" placeholder="Линейный коэффициент">
                        <input class="formula-input" type="text" placeholder="Свободный коэффициент">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
            </div>
            <div class="formula-header">
                <p class="formula-title">
                    Среднее геометрическое
                </p>
            </div>
            <div class="formulas-grid">
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Среднее геометрическое через произведение
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <msub>
                                    <mi>b</mi>
                                    <mtext>ср</mtext>
                                </msub>
                                <mo>=</mo>
                                <msup>
                                    <mrow>
                                        <mo>(</mo>
                                            <msub>
                                                <mi>x</mi>
                                                <mn>1</mn>
                                            </msub>
                                            <mo>·</mo>
                                            <mo>⋯</mo>
                                            <mo>·</mo>
                                            <msub>
                                                <mi>x</mi>
                                                <mi>n</mi>
                                            </msub>                                         
                                        <mo>)</mo>
                                    </mrow>
                                    <mfrac>
                                        <mn>1</mn>
                                        <mi>n</mi>
                                    </mfrac>
                                </msup>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Квадратичный коэффициент">
                        <input class="formula-input" type="text" placeholder="Линейный коэффициент">
                        <input class="formula-input" type="text" placeholder="Свободный коэффициент">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
            </div>
        </main>
       <footer>
            <div class="solver-footer-background">
                <div class="solver-footer-menu">
                    <div class="solver-footer-card">
                        <p class="solver-footer-card-title">
                            Навигация
                        </p>
                        <a class="solver-footer-redirect-button" href="/">
                            Главная
                        </a>
                        <a class="solver-footer-redirect-button" href="/physics">
                            Физика
                        </a>
                        <a class="solver-footer-redirect-button" href="/math">
                            Математика
                        </a>
                        <a class="solver-footer-redirect-button" href="/math/algebra">
                            Алгебра
                        </a>
                        <a class="solver-footer-redirect-button" href="/math/geometry">
                            Геометрия
                        </a>
                        <a class="solver-footer-redirect-button" href="/physics/electromagnetics">
                            Электромагнетизм
                        </a>
                        <a class="solver-footer-redirect-button" href="/physics/mechanics">
                            Механика
                        </a>
                        <a class="solver-footer-redirect-button" href="/physics/thermodynamics">
                            Термодинамика
                        </a>
                    </div>
                    <div class="solver-footer-card">
                        <p class="solver-footer-card-title">
                            Поддержка
                        </p>
                        <a class="solver-footer-redirect-button" href="/usagepolicy">
                            Политика пользования
                        </a>
                        <a class="solver-footer-redirect-button" href="/faq">
                            Помощь в использовании
                        </a>
                        <a class="solver-footer-redirect-button" href="/extrainfo">
                            Дополнительная информация
                        </a>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
