<!DOCTYPE html>
<html>
    <head>
        <title>
            Прогрессии | Физмат-калькулятор
        </title>
        <link rel="stylesheet" href="{{ url_for('static', path='css/solver.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='css/formulas.css') }}">
        <link rel="icon" type="image/x-icon" href="/static/images/school_physmath_solver_favicon.png">
    </head>
    <body class="solver-physmath-background">
        <header>
            <div class="solver-header-background">
                <div class="solver-header-menu">
                    <p id="solver-title" class="solver-header-text">
                        
                    </p>
                    <p id="solver-slogan" class="solver-header-text">
                        
                    </p>
                </div>
            </div>
        </header>
        <main>
            <div class="formula-header">
                <p class="formula-title">
                    Арифметическая прогрессия
                </p>
            </div>
            <div class="formulas-grid">
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Сумма арифметической прогрессии
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>S</mi>
                                <mo>=</mo>
                                <mfrac>
                                    <mrow>
                                        <mo>(</mo>
                                        <msub>
                                            <mi>a</mi>
                                            <mn>1</mn>
                                        </msub>
                                        <mo>+</mo>
                                        <msub>
                                            <mi>a</mi>
                                            <mi>n</mi>
                                        </msub>
                                        <mo>)</mo>
                                        <mi>n</mi>
                                    </mrow>
                                    <mrow>
                                        <mn>2</mn>
                                    </mrow>
                                </mfrac>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Первый элемент">
                        <input class="formula-input" type="text" placeholder="Последний элемент">
                        <input class="formula-input" type="text" placeholder="Количество элементов">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            N-ый элемент арифметической прогрессии
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <msub>
                                    <mi>a</mi>
                                    <mi>n</mi>
                                </msub>
                                <mo>=</mo>
                                <msub>
                                    <mi>a</mi>
                                    <mn>1</mn>
                                </msub>
                                <mo>+</mo>
                                <mi>b</mi>
                                <mrow>
                                    <mo>(</mo>
                                    <mi>n</mi>
                                    <mo>−</mo>
                                    <mn>1</mn>
                                    <mo>)</mo>
                                </mrow>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Первый элемент">
                        <input class="formula-input" type="text" placeholder="Шаг прогрессии">
                        <input class="formula-input" type="text" placeholder="Количество элементов">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Шаг арифметической прогрессии
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>b</mi>
                                <mo>=</mo>
                                <mfrac>
                                    <mrow>
                                        <msub>
                                            <mi>a</mi>
                                            <mi>n</mi>
                                        </msub>
                                        <mo>−</mo>
                                        <msub>
                                            <mi>a</mi>
                                            <mn>1</mn>
                                        </msub>
                                    </mrow>
                                    <mrow>
                                        <mi>n</mi>
                                        <mo>−</mo>
                                        <mn>1</mn>
                                    </mrow>
                                </mfrac>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Первый элемент">
                        <input class="formula-input" type="text" placeholder="Последний элемент">
                        <input class="formula-input" type="text" placeholder="Количество элементов">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Количество элементов арифметической прогресии
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>n</mi>
                                <mo>=</mo>
                                <mfrac>
                                    <mrow>
                                        <mn>2</mn>
                                        <mi>S</mi>
                                    </mrow>
                                    <mrow>
                                        <mo>(</mo>
                                        <msub>
                                            <mi>a</mi>
                                            <mn>1</mn>
                                        </msub>
                                        <mo>+</mo>
                                        <msub>
                                            <mi>a</mi>
                                            <mi>n</mi>
                                        </msub>
                                        <mo>)</mo>
                                    </mrow>
                                </mfrac>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Сумма прогрессии">
                        <input class="formula-input" type="text" placeholder="Первый элемент">
                        <input class="formula-input" type="text" placeholder="Последний элемент">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
            </div>
            <div class="formula-header">
                <p class="formula-title">
                    Геометрическая прогрессия
                </p>
            </div>
            <div class="formulas-grid">
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Сумма геометрической прогрессии
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>S</mi>
                                <mo>=</mo>
                                <mfrac>
                                    <mrow>
                                        <msub>
                                            <mi>b</mi>
                                            <mn>1</mn>
                                        </msub>
                                        <mrow>
                                            <mo>(</mo>
                                            <msup>
                                                <mi>q</mi>
                                                <mi>n</mi>
                                            </msup>
                                            <mo>−</mo>
                                            <mn>1</mn>
                                            <mo>)</mo>
                                        </mrow>
                                    </mrow>
                                    <mrow>
                                        <mi>q</mi>
                                        <mo>−</mo>
                                        <mn>1</mn>
                                    </mrow>
                                </mfrac>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Первый элемент">
                        <input class="formula-input" type="text" placeholder="Шаг прогрессии">
                        <input class="formula-input" type="text" placeholder="Количество элементов">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            N-ый элемент геометрической прогрессии
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <msub>
                                    <mi>b</mi>
                                    <mi>n</mi>
                                </msub>
                                <mo>=</mo>
                                <msub>
                                    <mi>b</mi>
                                    <mn>1</mn>
                                </msub>
                                <mrow>
                                    <mo>(</mo>
                                    <msup>
                                        <mi>q</mi>
                                        <mrow>
                                            <mi>n</mi>
                                            <mo>−</mo>
                                            <mn>1</mn>
                                        </mrow>
                                    </msup>
                                    <mo>)</mo>
                                </mrow>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Первый элемент">
                        <input class="formula-input" type="text" placeholder="Шаг прогрессии">
                        <input class="formula-input" type="text" placeholder="Количество элементов">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Знаменатель геометрической прогрессии
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>q</mi>
                                <mo>=</mo>
                                <msup>
                                    <mrow>
                                        <mo>(</mo>
                                        <mfrac>
                                            <msub>
                                                <mi>b</mi>
                                                <mi>n</mi> 
                                            </msub>
                                            <msub>
                                                <mi>b</mi>
                                                <mn>1</mn> 
                                            </msub>
                                        </mfrac>
                                        <mo>)</mo>
                                    </mrow>
                                    <mfrac>
                                        <mn>1</mn>
                                        <mi>n</mi>
                                    </mfrac>
                                </msup>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Последний элемент">
                        <input class="formula-input" type="text" placeholder="Первый элемент">
                        <input class="formula-input" type="text" placeholder="Количество элементов">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
                <div class="formula-card">
                    <div class="formula-card-info">
                        <p class="formula-name">
                            Количество элементов геометрической прогрессии
                        </p>
                        <p class="formula-object">
                            <math display="block">
                                <mi>n</mi>
                                <mo>=</mo>
                                <msub>
                                    <mtext>log</mtext>
                                    <mfrac>
                                        <msub>
                                            <mi>b</mi>
                                            <mi>n</mi>
                                        </msub>
                                        <msub>
                                            <mi>b</mi>
                                            <mn>1</mn>
                                        </msub>
                                    </mfrac>
                                </msub>
                                <mi>q</mi>
                                <mo>+</mo>
                                <mn>1</mn>
                            </math>
                        </p>
                    </div>
                    <div class="formula-card-input">
                        <input class="formula-input" type="text" placeholder="Последний элемент">
                        <input class="formula-input" type="text" placeholder="Первый элемент">
                        <input class="formula-input" type="text" placeholder="Количество элементов">
                    </div>
                    <div class="formula-card-button">
                        <button class="formula-calculate-button">
                            Посчитать
                        </button>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="solver-footer-background">
                <div id="solver-footer" class="solver-footer-menu">
                    
                </div>
            </div>
        </footer>
        <script src="/static/js/pagesetup.js" type="module"></script>
    </body>
</html>
